body{
    background-color: rgb(190,255,250);
}
fieldset{
    border: 5px solid rgb(245,122,170);
    background-color: rgb(180,180,180);
    width: 400px;
    margin:auto;

}
legend{
    text-align: center;
    color: rgb(245,122,170);
}

