.panier
{
    position: absolute;
    right: 15px;
    top:5px;
    padding-top:30px;
    display:flex;
    text-decoration:none;
    color: #df6565;
    text-transform: uppercase;
}

.pro {
    border: 10px ridge rgb(115, 255, 0);
    background-color: rgb(19, 135, 170);
    padding: .5rem;
    display: flex;
    flex-direction: column;
}